h1 {
  font-weight: 100;
  text-align: right;
}

h2 {
  font-weight: 100;
  font-size: 21px;
}

button {
  background-color: #0060DF;
  border: solid 1px #0060DF;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 30px;
  white-space: nowrap;
  font: inherit;
  color: inherit;
  display: block;
  margin: 9px auto;
  outline: none;
  transition: .2s ease;
}
button:hover {
  box-shadow: 0 0 0 5px #4A4A4F;
}

.input {
  position: relative;
  margin: 17px 0;
  transition: 0.2s ease;
}
.input:first-of-type {
  margin-top: 50px;
}
.input input, .input textarea {
  border: 1px solid rgba(249, 249, 250, 0.2);
  background: #38383d;
  font: inherit;
  color: inherit;
  border-radius: 3px;
  padding: 10px;
  outline: none;
  box-shadow: none;
  width: calc(100% - 20px);
  -webkit-appearance: none;
  transition: inherit;
}
.input input:focus, .input textarea:focus {
  box-shadow: 0 0 0 1px #45a1ff, 0 0 0 4px rgba(69, 161, 255, 0.3),
    0 0 0 1px #45a1ff;
}
.input.long input {
  width: calc(100% - 30px);
}
.input a {
  display: grid;
  align-content: center;
  position: absolute;
  height: calc(100% - 1px);
  padding: 0 4px;
  right: 7px;
  top: 0;
  color: gray;
  width: max-content;
  pointer-events: none;
  user-select: none;
  transition: inherit;
}
.input input:focus + a, .input input:valid + a, .input textarea:focus + a, .input textarea:valid + a {
  top: -10px;
  left: 5px;
  height: 15px;
  font-size: 14px;
  box-shadow: inset 0 -5px 0 0 #38383d;
}
.input input:focus + a, .input textarea:focus + a {
  color: #45a1ff;
  box-shadow: inset 0 -9.5px 0 0 #38383d;
}

.overlay {
  display: grid;
  place-content: center;
  background: #2a2a2e;
  height: 100%;
  width: 100%;
  position: fixed;
  transition: .2s ease;
  top: 0;
  left: 0;
}
.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  background: #2a2a2e;
  color: #f9f9fa;
  display: grid;
  text-align: right;
  white-space: pre-line;
  padding: 0 10vw;
  direction: rtl;
  font-family: 'Inter', sans-serif;
  scrollbar-color: #414148 #2a2a2e;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}
::selection {
  background: #f9f9fa33;
}
::-webkit-scrollbar {
  background: #2a2a2e;
}
::-webkit-scrollbar-thumb {
  background: #414148;
}
 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 0 transparent !important;
}
